  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: media-arr
    namespace: media
    labels:
      app: media
  spec:
    replicas: 1
    selector:
      matchLabels:
        app: media
    template:
      metadata:
        labels:
          app: media
      spec:
        containers:
        - name: sonarr
          image: ghcr.io/linuxserver/sonarr:latest
          ports:
          - containerPort: 8989
          env:
          - name: PUID
            value: "1000"
          - name: PGID
            value: "1000"
          - name: TZ
            value: "Etc/UTC"
          volumeMounts:
          - name: sonarr-config
            mountPath: /config
          - name: sonarr-data
            mountPath: /data
        - name: lidarr
          image: lscr.io/linuxserver/lidarr:latest
          ports:
          - containerPort: 8686
          env:
          - name: PUID
            value: "1000"
          - name: PGID
            value: "1000"
          - name: TZ
            value: "Etc/UTC"
          volumeMounts:
          - name: lidarr-data
            mountPath: /data
          - name: lidarr-config
            mountPath: /config
        - name: radarr
          image: lscr.io/linuxserver/radarr:latest
          ports:
          - containerPort: 7878
          env:
          - name: PUID
            value: "1000"
          - name: PGID
            value: "1000"
          - name: TZ
            value: "Etc/UTC"
          volumeMounts:
          - name: radarr-data
            mountPath: /data
          - name: sonarr-config
            mountPath: /config
        - name: prowlarr
          image: lscr.io/linuxserver/prowlarr:latest
          ports:
          - containerPort: 9696
          env:
          - name: PUID
            value: "1000"
          - name: PGID
            value: "1000"
          - name: TZ
            value: "Etc/UTC"
          volumeMounts:
          - name: prowlarr-config
            mountPath: /config
        volumes:
        - name: sonarr-data
          persistentVolumeClaim:
            claimName: sonarr-pvc
        - name: lidarr-data
          persistentVolumeClaim:
            claimName: lidarr-pvc
        - name: radarr-data
          persistentVolumeClaim:
            claimName: radarr-pvc
        - name: sonarr-config
          persistentVolumeClaim:
            claimName: sonarr-config
        - name: lidarr-config
          persistentVolumeClaim:
            claimName: lidarr-config
        - name: radarr-config
          persistentVolumeClaim:
            claimName: radarr-config
        - name: prowlarr-config
          persistentVolumeClaim:
            claimName: prowlarr-config