timezone: Etc/UTC

puid: 1000
pgid: 1000

ingress:
  enabled: true
  className: traefik
  domain: media.example.com

qbittorrent:
  config:
    web_port: 8080
    torrenting_port: 51820
    configMap: "" # configmap
  persistent:
    enabled: true
    size: 100Gi
    storageClass: ""
    name: qbit-data
  vpn:
    enabled: true
    healthcheck: true
    config:
      service_provider: mullvad
      type: wireguard
      dns: 1.1.1.1
      cities: "" #https://raw.githubusercontent.com/qdm12/gluetun/master/internal/storage/servers.json
    secret:
      existing: true
      name: arr-secret
      privateKeySecretKey: WIREGUARD_PRIVATE_KEY
      privateKey: ""
      addressesSecretKey: WIREGUARD_ADDRESSES
      addresses: ""
  livenessProbe: false #EXPERMIMENTAL

arr:
  persistent:
    size: 100Gi
    storageClass: ""
    name: arr-data
  config:
    storageClass: ""
    size: 1Gi
  
metrics:
  enabled: false
  podAnnotations: {}

discord:
  enabled: false
  secret:
    existing: true
    name: arr-secret
    tokenSecretKey: DISCORD_TOKEN
    token: ""
