timezone: Etc/UTC

puid: 1000
pgid: 1000

ingress:
  enabled: true
  className: traefik
  domain: media.example.com

qbittorrent:
  config:
    web_port: 8080
    torrenting_port: 51820
    configMap: "" # configmap
  persistent:
    enabled: true
    size: 100Gi
    storageClass: ""
  vpn:
    enabled: true
    healthcheck: true
    config:
      service_provider: mullvad
      type: wireguard
      dns: 1.1.1.1
      cities: "" #https://raw.githubusercontent.com/qdm12/gluetun/master/internal/storage/servers.json
    secret:
      existing: true
      name: arr-secret
      privateKeySecretKey: WIREGUARD_PRIVATE_KEY
      privateKey: ""
      addressesSecretKey: WIREGUARD_ADDRESSES
      addresses: ""
  extraEnv: {}
  lifecycle:
    postStart:
      exec:
        command:
          - "/bin/sh"
          - "-c"
          - |
            CONFIG_FILE="/config/qBittorrent/qBittorrent.conf"
            echo "Waiting for $CONFIG_FILE to exist..."
            for i in $(seq 1 40); do
              if [ -f "$CONFIG_FILE" ]; then
                break
              fi
              sleep 0.5
            done
            echo "Config found. Patching WebUI\LocalHostAuth..."
            # If setting exists, replace it; otherwise append after [Preferences]
            if grep -Fq "WebUI\LocalHostAuth=" "$CONFIG_FILE"; then
              sed -i 's|WebUI\\LocalHostAuth=.*|WebUI\\LocalHostAuth=false|' "$CONFIG_FILE"
            else
              sed -i '/^\[Preferences\]/a WebUI\\LocalHostAuth=false' "$CONFIG_FILE"
            fi

arr:
  persistent:
    size: 100Gi
    storageClass: ""
  config:
    storageClass: ""
    size: 1Gi
  
metrics:
  enabled: false
  podAnnotations: {}

discord:
  enabled: false
  secret:
    existing: true
    name: arr-secret
    tokenSecretKey: DISCORD_TOKEN
    token: ""
