apiVersion: batch/v1
kind: Job
metadata:
  name: arr-secret-grep
  namespace: {{ .Release.Namespace }}
spec:
  template:
    spec:
      serviceAccountName: arr-secret-grep
      containers:
      - name: api-secret-gen
        image: alpine/kubectl:latest
        env:
          - name: SECRET_NAME
            value: arr-api-secret
          - name: CONFIG_API_KEY
            value: ApiKey
          - name: LIDARR_CONFIG
            value: /config/lidarr/config.xml
          - name: RADARR_CONFIG
            value: /config/radarr/config.xml
          - name: SONARR_CONFIG
            value: /config/sonarr/config.xml
          - name: PROWLARR_CONFIG
            value: /config/prowlarr/config.xml
        command: ["/bin/sh", "-c"]
        args:
          - |
            echo "waiting for stack to be setup..."
            kubectl rollout status deployment/arr-stack
            echo "getting lidarr..."
            if [ ! -f "$LIDARR_CONFIG" ]; then
              echo "Error: config not found at $LIDARR_CONFIG"
              exit 1
            fi
            LIDARR_API=$(sed -n 's/.*<ApiKey>\(.*\)<\/ApiKey>.*/\1/p' "$LIDARR_CONFIG")

            echo "getting radarr..."
            if [ ! -f "$RADARR_CONFIG" ]; then
              echo "Error: config not found at $RADARR_CONFIG"
              exit 1
            fi
            RADARR_API=$(sed -n 's/.*<ApiKey>\(.*\)<\/ApiKey>.*/\1/p' "$RADARR_CONFIG")

            echo "getting sonarr..."
            if [ ! -f "$SONARR_CONFIG" ]; then
              echo "Error: config not found at $SONARR_CONFIG"
              exit 1
            fi
            SONARR_API=$(sed -n 's/.*<ApiKey>\(.*\)<\/ApiKey>.*/\1/p' "$SONARR_CONFIG")

            echo "getting prowlarr..."
            if [ ! -f "$PROWLARR_CONFIG" ]; then
              echo "Error: config not found at $PROWLARR_CONFIG"
              exit 1
            fi
            PROWLARR_API=$(sed -n 's/.*<ApiKey>\(.*\)<\/ApiKey>.*/\1/p' "$PROWLARR_CONFIG")

            echo "applying to secret..."
            kubectl create secret generic $SECRET_NAME \
              --from-literal=LIDARR_API=$LIDARR_API \
              --from-literal=RADARR_API=$RADARR_API \
              --from-literal=SONARR_API=$SONARR_API \
              --from-literal=PROWLARR_API=$PROWLARR_API \
              --dry-run=client -o yaml | kubectl apply -f -

            echo "Done."
        volumeMounts:
        - name: lidarr-config
          mountPath: /config/lidarr
          readOnly: true
        - name: sonarr-config
          mountPath: /config/sonarr
          readOnly: true
        - name: radarr-config
          mountPath: /config/radarr
          readOnly: true
        - name: prowlarr-config
          mountPath: /config/prowlarr
          readOnly: true
        - name: bazarr-config
          mountPath: /config/bazarr
          readOnly: true
      restartPolicy: OnFailure
      volumes:
      - name: sonarr-config
        persistentVolumeClaim:
          claimName: sonarr-config
      - name: lidarr-config
        persistentVolumeClaim:
          claimName: lidarr-config
      - name: radarr-config
        persistentVolumeClaim:
          claimName: radarr-config
      - name: prowlarr-config
        persistentVolumeClaim:
          claimName: prowlarr-config
      - name: bazarr-config
        persistentVolumeClaim:
          claimName: bazarr-config